/* LMS CSS */

*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#f9f7f7;
    height:auto;
	max-height:auto;
	width:auto;
	border:0px solid;
	overflow:auto;
	min-height:100%;


}

.container{
	background-color:transparent;
	margin:0px;
	padding:0px;
	height:100%;
	max-height:auto;
	border:0px solid yellow;
	width:auto;
	height:auto;
	
	
	
}

.sign_header{
	width:auto;
	max-width:100%;
	max-height:6%;
	background-color:red;
	border:0px solid;
	height:6%;
	padding:5px 10px 0px 10px;
	box-shadow:0px 0px 0px 0px;
	
	
}

.logo_header{
	width:auto;
	max-width:100%;
	max-height:15%;
	background-color:rgb(255,255,200);
	border:none;
	height:12%;
	padding:10px 10px 0px 10px;
	box-shadow:0px 2px 3px -1px;
	position:sticky;
	top:0;
	z-index:1;
    	
}      
   

.button_div{
	width:20em;
	max-width:inherit;
	max-height:inherit;
	height:5em;
	border:1px solid;
	
}
.logo_header .button{
	width:auto;
	max-width:5em;
	height:3em;
	border:1px solid white;
	background-color:transparent;
	text-align:center;
	float:right;
	display:block;
	padding:8px 15px;;
	margin:5px;
	margin-right:10px;
	border-radius:100%;
	color:black;
	
	
	
}
.logo_header .button:hover{
	
	border:1px solid;
	box-shadow:0px 2px 3px -1px;
	transition:0.5s;
	border-radius:0px;
	color:blue;
}
.logo_header .text{
	font-family:Serif;
	font-size:3em;
	float:left;
	margin-left:2em;
	font-weight:bold;
	color:orange;
}

 .sign_header .button{
	width:5em;
	max-height:auto;
	background-color:none;
	border:0px solid;
	height:auto;
	padding:5px;
	box-shadow:0px 2px 1px -1px;
	float:right;
	margin-right:30px;
	text-align:center;
	border-radius:10px;
}
.sign_header .button:hover{
	box-shadow:0px 2px 5px -1px;
	background-color:#f7f9fc;
    transition:1s;
	border-radius:2px;
}
a{
	text-decoration:none;
	color:inherit;
}

.footer{
   
	width:auto;
	min-height:1em;
	height:auto;
	background-color:black;
	color:white;
	font-family:Courier New;
	font-size:16px;
	padding: 30px 10px 10px 20px;
	clear:both;
	bottom:0;
	left:0;
	right:0;
	position:relative;
}

    
	.div-left{margin:10px; left:0 }
	.text-left{text-align:left;}
	.text-center{text-align:center; }
	.text-right{text-align:right;}
	
.himg
{
	width:100%;
	height:45em;
	border:0px solid green;
	background-image:url("liba.jpg");
	background-attachment:fixed;
	color:white;
	overflow:hidden;
	
	

}
.himg .text{
	
	height:inherit;
	width:inherit;
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	padding: 3em 0px 0em 0px;
	overflow:auto;
	border:1px solid white;
}
 
.text .button{
	width:5em;
	background-color:red;
	border:2px solid;
	height:auto;
	padding:5px;
	box-shadow:0px 2px 1px -1px;
	margin-right:30px;
	text-align:center;
	border-radius:0px;
	font-family:courier new;
	transition:1s;
	color:white;
	float:left;
}

.text .button:hover{
	box-shadow:1px 2px 5px 1px;
	// background-color:#f7f9fc;
    transition:1s;
	border-radius:20px;
}
 
 
 
 .himg h1
 {
	 font-size:2.5em;
	 font-family:Comic Sans MS;
	 margin-top:3em;
 }

	.himg h2
	{
	 font-family:Comic Sans MS;
      margin-right:12em;
      margin-top:2em;	  
	}
	
.himg01
{
	width:100%;
	height:40em;
	border:0px solid green;
	background-image:url("room-1.jpg");
	background-attachment:fixed;

}
.boxx
{
	height:auto;
	width:100%;
	border:0px solid;
	padding-left:22em;
	margin-top:5em;
	
	
}    
   .box-feature
   {
	   width:auto;
	   height:auto;
	   border:0px solid;
	   margin-top:2em;
	   background-color:white;
	   display:block;
	   overflow:auto;
	  margin-bottom:2em;
	   background-image:url(bluebg.jpg);
	   background-attachment:fixed;
	   background-size:100%;
	   
	   
   }  
   
   .box-feature .overlay{
	//  background-color:rgb(245,245,245);
	  overflow:auto;
	  border:1px solid white;	
	  padding-bottom:3em;
	  padding-top:2em;

	  	  
	  
   }
   

 .feature_card
 {
	 width:18em;
	 height:22em;
	 border:2px solid red;
	 margin:5em 2em 4em 7%;
	 float:left;
	 background-color:rgb(255, 117, 117,0.9);
	 border-radius:10px;
	 color:white;
	 
	
	 
 } 
     
	  .feature_card h2{
		  
		  margin-top:8px;
		  margin-bottom:5px;
	  }
	  
	  	  .feature_card ul li{
			  margin-left:1.9em;
			  font-size:18px;
			  margin-top:10px;
			  font-family:arial;
			  
		  }
 
   	    
	  .heading_bg 
	  {
		  background-image:url(hdbg.png);
		   background-size: 10em 10em;
		  width:auto;
		  height:auto;
		  background-repeat:no-repeat;
		  background-position:left;
		  padding:20px;
		  padding-left:3em;
		  color:white;
		  margin:1em 0em 0em 1em ;
		  
	  }	  
	
	.absolute {position:absolute;}
	.float-left {float:left;}
	.float-right {float:right};
	.full-height {height:100%;}
	.clear {clear:both;}
	.bottom { left:0; right:0; bottom:0;}
	

 .classFull
 {
	 width:auto;
	 border:2px solid;
	 height:100%;
 }
 
 
  .header_profile_div
  {
	  height:2em;
	  width:auto;
	  border:1px solid rgb(227, 235, 247,0.5);
	  margin:10px 0px 0px 2em ;
	  padding:5px;
	  position:relative;
	 float:right;
	 border-radius:5px;
	 cursor:pointer;
	 background-color:rgb(227, 235, 247,0.5);
  }
 
  .header_profile_div .img{
	 
	 margin:0px;
	 padding:0px;
	 width:2em;
	 height:2em;
	 
	 
	 background-image:url('/project/profile/p_logo.png');
	 position:absolute;
	 background-repeat:no-repeat;
	 background-size:100%;
	position:relative;
	 display:block;
	 overflow:hidden;
	
	
	 
	 
 }
      .header_profile_div .img1{
	 
	 margin:0px;
	 padding:0px;
	 width:2em;
	 height:2em;
	 border:0px solid;
	 box-shadow:0px 1px 10px -2px;
	 background-repeat:no-repeat;
	 background-size:100%;
	 border-radius:none;
	 overflow:hidden;
	 position:relative;
	 float:left;
	 
	 
 }
 
 .header_profile_div .Uname
 {
	
	 float:left;
	 position:relative;
	 border:0px solid;
	 margin:0px 0px 0px 10px ;
	 padding:5px;
	 box-shadow:0px 1px 10px -4px;
	 }
	 
	 .dropdown
	 {
		 width:auto;
		 height:auto;
		 border:none;
		 top:100%;
		 background-color:white;
		color:red;
		position:absolute;
		margin-left:0em;
		transition:2;
		display:none;
		 z-index: 1;
		
		
	 }
	 
	.header_profile_div:hover .dropdown
	 {
		display:block;
       transition:2s;
       	   
	 }
   
    .header_profile_div .dropdown ul li
	{
		list-style-type:none;
		margin:0px px 0px 0px ;
		padding:10px 5px 10px 5px ;
		border-bottom:1px solid;
		background-color:rgb(152, 165, 186);
		color:black;
		
	}
    .header_profile_div .dropdown ul li:hover
	{
		background-color:green;
		color:white;
		transition:1s;
	}
   .wrapper
   {
	   width:auto;
	   height:auto;
   }
    
	
 .alert {
    padding: 10px;
    height:7em;
	width:42em;
    background-color: #f44336;
    color: white;
	margin:10px 0px 0px 20em;
	padding:10px 10px 20px 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}



 

	  .book_pic 
	    { 
		   width:10em; 
		   height:12em; 
		   border:1px solid; 
		   margin:20px 5px 20px 10px ; 
		   background-image:url('book_pics/no-pic-avl.gif'); 
		   background-size:100%100%; 
		   
		   
	    } 

